<div style="margin: 0px auto;">
  <div style="margin: 0em 2em;">
    <div class="span12" style="margin-top: 10px;">
      <h1 class="pull-left">Propeller</h1>

      <div class="pull-right" style="margin-top: 10px;">
        <div class="pull-left" style="padding: 7px;">
          <b>Completed Jobs by</b>
        </div>

        <ul id="completed-jobs-chart-type" class="nav-pills-active nav nav-pills pull-left">
          <li class="active" data-url="<%= daily_completed_path %>">
            <a href="#">Day</a>
          </li>

          <li data-url="<%= hourly_completed_path %>">
            <a href="#">Hour</a>
          </li>

          <li data-url="<%= minutely_completed_path %>">
            <a href="#">Minute</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="span12" style="margin-top: 50px;">
      <div class="span3" style="height: 300px;" id="worker-jobs-pie-chart">
        <svg></svg>
      </div>

      <div class="span8" style="height: 300px;" id="completed-jobs-chart">
        <svg></svg>
      </div>
    </div>

    <div class="span12">

      <div class="navbar">
        <div class="navbar-inner">
          <ul class="nav">
            <li class="active" data-url="/propeller/recent_jobs">
              <a href="#">Recent Jobs</a>
            </li>
            <li><a href="#">Job Failures</a></li>
          </ul>
        </div>
      </div>

      <div class="pull-left">
        <ul id="recent-jobs-type" class="nav-pills-active nav nav-pills pull-right">
          <li class="active" data-url="/propeller/all">
            <a href="#">All</a>
          </li>

          <li data-url="/propeller/completed">
            <a href="#">Completed</a>
          </li>

          <li data-url="/propeller/queued">
            <a href="#">Queued</a>
          </li>

          <li data-url="/propeller/failed">
            <a href="#">Failed</a>
          </li>

          <li data-url="/propeller/retired">
            <a href="#">Retired</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="span12">
      <table id="recent-jobs-table" class="table">
        <thead>
          <tr>
            <% Propeller.config.worker_job_class.recent_jobs_columns.each do |key, value| %>
              <th><%= key %></th>
            <% end %>
          </tr>
        </thead>

        <tbody>
          <%= render partial: "table", locals: {jobs: @recent_jobs} %>
        </tbody>
      </table>
    </div>
  </div>
</div>
